python==3.10
graphviz==0.14.1
imbalanced-learn==0.7.0
ipympl==0.6.2
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.0
scipy==1.13.1
seaborn==0.13.2
sqlalchemy==2.0.30
statsmodels==0.14.2
wheel==0.43.0
requests==2.32.3
stock_analysis @ git+https://github.com/stefmolin/stock-analysis.git@0130d67a6084cb42710d91d89ffff01e8b7cd90b
visual_aids @ file:///Users/goliveira/Documents/FIAP/Hands-On-Data-Analysis-with-Pandas-2nd-edition-pt-br/visual-aids
ml_utils @ git+https://github.com/stefmolin/ml-utils.git@e05a687cbd02a081db97fd6955adee2461723e28
login_attempt_simulator @ git+https://github.com/stefmolin/login-attempt-simulator.git@cd0aa12d3011c19c4fb5b4d1ff417e0c66c0e5c7
