graphviz==0.14.1
ipympl==0.6.2
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.0
scipy==1.13.1
seaborn==0.13.2
sqlalchemy==2.0.30
statsmodels==0.14.2
wheel==0.43.0
requests==2.32.3
visual_aids @ file:///Users/goliveira/Documents/FIAP/Hands-On-Data-Analysis-with-Pandas-2nd-edition-pt-br/visual-aids
